SENTRY_ENVIRONMENT=development
SENTRY_RELEASE=1.0.0
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=cookiecrumbs
POSTGRES_USER=cookiecrumbs
POSTGRES_PASSWORD=cookiecrumbs
REDIS_HOST=localhost
REDIS_PORT=6379
